name: Build Gacha.exe

on:
  push:
    tags:
      - 'v*' # Triggers on tags like v1.0.0, v1.0.0-beta, etc.
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv sync

    - name: Get version from tag
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

    

    - name: Build Gacha.exe
      run: uv run pyinstaller --onefile Gacha.py

    - name: Create release zip
      run: |
        $VERSION = "${{ steps.get_version.outputs.VERSION }}"
        $ZIP_FILE_NAME = "Gacha-Windows-$VERSION.zip"
        7z a $ZIP_FILE_NAME dist/Gacha.exe gachafiles/ images/
      shell: pwsh

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        tag_name: ${{ github.ref }}
        name: Release ${{ github.ref }}
        body: |
          Automated release for ${{ github.ref }}
        files: Gacha-Windows-${{ steps.get_version.outputs.VERSION }}.zip
        draft: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
